@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/login.css" />

        <section>
            <div class="banner-box">
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="main-form">
                    <div class="tab-title">
                        <h3>欢迎登录</h3>
                    </div>
                        @*<div asp-validation-summary="All" class="text-danger"></div>*@
                    <div class='normalInput cycode-box fieldInput' id="cycode-box" style="margin-bottom: 20px;">
                        <div class="cycode-selectbox">

                            
                                <input asp-for="Email" class="ipt-account inp-focus" placeholder="请输入用户名" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            
                        </div>
                    </div>
                    <div class="normalInput" id="cycode-box" style="margin-bottom: 20px;">
                        <div class="cycode-selectbox">

                            
                                <input asp-for="Password" class="inp-focus" placeholder='请输入密码' />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            
                        </div>
                    </div>
                        <div class='rememberField'>
                           
                                <div class="checkbox">
                                    <label asp-for="RememberMe">
                                        <input asp-for="RememberMe" />
                                        @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>
                            
                        </div>
                        
                            
                       @*<button type="submit" class="btn btn-primary">Log in</button>*@
                    <a id="login" class='fullBtnBlue'>登录</a>
                            
                        
                        @*<div class="">
                            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">注册一个新账号</a>
                        </div>*@
                    <div class='transferField'>
                        <a asp-action="Register" class="go2register linkABlue linkAGray"  id="toRegister">注册</a>
                    </div>




</form>
            </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
