@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}
<link rel="stylesheet" type="text/css" href="~/css/register.css" />

<div class="banner-box">
    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="main-form">
        <h4>欢迎注册</h4>

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="tab-title">
            <div class='normalInput fieldInput'>
                @*<label asp-for="Email" class="col-md-2 control-label"></label>*@

                <input asp-for="Email" class="inp-focus" placeholder='请输入邮箱' autocomplete='off' />
                <span asp-validation-for="Email" class="inp-focus"></span>
            </div>
        </div>
        <div class="tab-title">
            <div class='normalInput fieldInput'>
                <input asp-for="Conname" class="inp-focus" placeholder='请输入名字' autocomplete='off' />
                <span asp-validation-for="Conname" class="inp-focus"></span>
            </div>
        </div>
        <div class="tab-title">
            <div class='normalInput fieldInput'>
                <input asp-for="MobilePhone" class="inp-focus" placeholder='请输入电话' autocomplete='off' />
                <span asp-validation-for="MobilePhone" class="inp-focus"></span>
            </div>
        </div>
        <div class="tab-title">
            <div class='normalInput fieldInput'>
                <input asp-for="Adress" class="inp-focus" placeholder='请输入地址' autocomplete='off' />
                <span asp-validation-for="Adress" class="inp-focus"></span>
            </div>
        </div>
        <div class="tab-title">
            <div class='normalInput fieldInput'>
                @*<label asp-for="Password" class="col-md-2 control-label"></label>*@

                <input asp-for="Password" class="inp-focus" placeholder='请输入密码' autocomplete='off' />
                <span asp-validation-for="Password" class="inp-focus"></span>
            </div>
        </div>

        <div class="tab-title">
            <div class='normalInput fieldInput'>
                @*<label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>*@

                <input asp-for="ConfirmPassword" class="inp-focus" placeholder='请确认密码' autocomplete='off' />
                <span asp-validation-for="ConfirmPassword" class="inp-focus"></span>
            </div>
        </div>



        <button type="submit" class="fullBtnBlue">注册</button>


    </form>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
