@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model RegisterViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Login";
}

<section>
    <div class="banner-box">
        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="main-form">
            <div class="tab-title">
                <h3>个人账户注册</h3>
            </div>
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <div class='normalInput cycode-box fieldInput' id="cycode-box" style="margin-bottom: 20px;">
                <div class="cycode-selectbox">


                    <input asp-for="Email" class="ipt-account inp-focus" placeholder="请输入用户名" />
                    <span asp-validation-for="Email" class="text-danger"></span>

                </div>
            </div>
            <div class="normalInput" id="cycode-box" style="margin-bottom: 20px;">
                <div class="cycode-selectbox">


                    <input asp-for="Password" class="inp-focus" placeholder='请输入密码' />
                    <span asp-validation-for="Password" class="text-danger"></span>

                </div>
            </div>
            <div class="normalInput" id="cycode-box" style="margin-bottom: 20px;">
                <div class="cycode-selectbox">


                    <input asp-for="ConfirmPassword" class="inp-focus" placeholder='请再次输入密码' />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                </div>
            </div>

            @*<button type="submit" class="btn btn-primary">Log in</button>*@
            <a id="login" class='fullBtnBlue'>注册</a>


            @*<div class="">
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">注册一个新账号</a>
                </div>*@




        </form>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
