@{
    ViewBag.Title = "商品分类";
    Layout = "_Layout";
}
<p>商品类别:@ViewBag.catalogName</p>

<div class="container" style="padding: 0;">
    <div class="row" style="margin:  0;">
        @foreach (ProductList p1 in ViewBag.catProducts as List<ProductList>)
        {
            <div class="browse-item col-md-3 col-sm-3 col-xs-6" style="margin: 10px 0;">
                <a href='/Home/Detail/@p1.p.ObjId'><img src="~/images/@p1.p.Product_Img" /></a>
                <p>@p1.p.Productname</p>
                <p>¥@p1.p.Price</p>
                <a type="button" href="/Cart/AddCart/@p1.p.ObjId">购买</a>
            </div>
        }
    </div>
</div>